pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: Category
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict elPZoNie1HXMXdNs8BQmWsfCGXh7grlqMFmVaOwQ4K2fYNt3cS7sKV8NZtPywHN

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: aoobee
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: aoobee
--



--
-- Data for Name: Article; Type: TABLE DATA; Schema: public; Owner: aoobee
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: aoobee
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: aoobee
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
e29dbf69-2061-4653-b6dd-82f35deea7c2	4164e838fffaabe8efb045246ad4e8b4aac36dd2166aa558769886ac380d3e1f	2026-06-27 10:23:36.041261+00	20260627102334_init	\N	\N	2026-06-27 10:23:34.324114+00	1
\.


--
-- PostgreSQL database dump complete
--

\unrestrict elPZoNie1HXMXdNs8BQmWsfCGXh7grlqMFmVaOwQ4K2fYNt3cS7sKV8NZtPywHN

